[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/vuljector/googletest
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/vuljector/glog
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/vuljector/benchmark
